<html>
<link rel="stylesheet" href="../static/globals.css">

<img 
    src="https://velog.velcdn.com/images/huise0ng/post/83ba823f-6407-4a1b-97bb-39e4bccdb41f/image.png" 
    alt=""
    style="width: 400px;"
>
<div style="margin: 2rem;"></div>
해외여행 인기가 계속 오를 때 마다, 공항 속 인파로 체크인이 힘들다는게 뉴스로까지 표현되고 있다. 
공항에 도착하기 전 미리 인파를 파악할 수 있다면 어떨까?
이를 위해 Airport-PUS 를 개발하게 되었다
<div style="margin: 2rem;"></div>
프로젝트는 겨울방학 <a href="https://github.com/siniseong" style="color: #005ccc;">친구</a>의 협업 제의로 시작되었다. 
실사용자를 유치할 수 있는 서비스를 개발하고 싶다는 목적으로 개발하게 되었다. 
원래는 지하철 환승 안내 서비스를 기획하려고 했으나,
서울의 복잡한 지하철 시스템(환승, 급행, XX선 열차 등)을 그대로 구현하는 것에 한계가 있다고 느껴
다른 교통 서비스를 찾게되었다
<div style="margin: 2rem;"></div>
의논 끝에 김해국제공항 서비스를 만들기로 결정했다.
복잡한 시스템 없이 이륙, 착륙, 혼잡도, 주차장 요금 계산 등 간단한 기능만을 필요로 하는 서비스이기 떄문에
간단하게 만들 수 있겠다 생각했다.
<div style="margin: 2rem;"></div>
디자인과 퍼블리싱은 팀원인 <a href="https://github.com/siniseong" style="color: #005ccc;">희성</a>이 대부분 담당했고,
나는 <a href="https://github.com/gyumingim/Daile" style="color: #005ccc;">개인 프로젝트</a>를 진행한 이후 개발을 시작해서, 기능 개발을 위주로 담당했다. 

이 프로젝트에서는 다양한 기술을 사용했다.
<div style="margin: 2rem;"></div>
<ul>
    <li>Skeleton UI (isLoading)</li>
    <li>useSWR</li>
    <li>chart.js</li>
    <li>useEffect Hook + inputValue</li>
    <li>Infinite Scroll (무한스크롤) <span style="text-decoration: line-through; color: gainsboro; font-style: italic;">← 이걸 썼었나</span></li>
    <li>pwa</li>
</ul>
<blockquote>
    Skeleton UI를 추가하면 사용자에게 더 좋은 UX를 제공할 수 있어 도입했다
    구현 방법은 여러가지가 있었고, 
    저는 isLoading 함수를 통해 isLoading이 true면 로딩 중 False면 로딩 끝으로 생각해 
    False가 반환되면 화면이 렌더링 되도록 구현했다.

    useSWR은 실시간 정보가 중요한 서비스에서 많이 사용하는 라이브러리이다.
    간단하게 설명하자면 새로고침 버튼을 누르지 않아도 API에서 정보가 바뀌면 실시간으로 업로드가 된다.
    airport-pus에서는 출/도착 주기장 부분에 적용 됐다.
</blockquote>
<div style="margin: 2rem;"></div>
<img src="https://velog.velcdn.com/images/huise0ng/post/fd6081d7-e8d4-4f63-92c7-4839806d332f/image.gif" alt="">
데이터의 가장 상단 정보를 보면 자동으로 바뀌는 것을 볼 수 있다.
출/도착 주기장은 실시간 정보이고, 비행기 탑승시 중요한 정보이기에 useSWR을 추가했다.
<div style="margin: 2rem;"></div>
chart.js는 npm 라이브러리이다. 차트를 직접적으로 개발하지 않고, 
라이브러리를 사용한 이유는 단순한 라이브러리로써 끝이 아니라 색상, 점 크기 및 에니메이션, 
점 위에 마우스를 올리면 세부 정보 표시 가능 듯 엄청난 커스텀 기능을 제공하고 있다.
작년 학교 위키인 <a href="https://buma.wiki/coin" style="color: #005ccc;">부마코인</a>에 선배들이 사용한 것을 보고, 깔끔하고, 
그 어느 차트보다 좋다 생각해 airport-pus에서도 chart.js를 사용했다. 
<div style="margin: 2rem;"></div>
useEffect Hook + inputValue은 항공편명 검색에 사용됐다. 
서비스에서 검색은 항공편명+Enter로 구현한 것이 아닌 검색창에 a로 검색하면 a로 시작하는 항공편명이 
나오며 글자를 입력하면 입력할수록 검색한 항공편명과 관련없는 정보는 화면에 렌더링 되지 않는다. 
이 기능이 가져오는 api에서 항공편명이 있었기 때문에 가능했고, 
useEffect를 사용해 항공편명과 비교하는 방식으로 개발했다. 

<img src="https://velog.velcdn.com/images/huise0ng/post/3a1ca17f-cb39-4568-ae4e-7ab64d571b3f/image.gif" alt="">
Infinite Scroll(무한 스크롤)은 많은 데이터를 불러올 때 로딩 시간을 줄이기 위해 사용했다. 
airport-pus에서는 출/도착 주기장 정보를 가져오는 데 활용됐다. 
적용 전 에는 최대 60개 정도의 데이터만 불러와서 굳이 필요할까 싶었지만, 
적용해보니 초기 렌더링 속도가 크게 줄어드는 효과가 있었다.
<div style="margin: 2rem;"></div>
pwa 도입은 서비스를 개발하면서 스토어 등록에도 도전해보고 싶었다. 
하지만 저희 팀이 Next.js로 개발을 진행하다 보니 플레이스토어나 앱스토어에 등록하는 과정이 쉽지 않았다. 
얼마 전 졸업한 우빈이형에게 "사용자가 다운로드해 앱처럼 사용할 수 있도록 하려면 어떻게 해야 할까요?"
라고 하소연했더니 PWA 기술을 추천해주었다. 검색해보니 정말 앱처럼 다운로드도 할 수 있다는 걸 알게되었고, 
덕분에 서비스에 PWA를 적용할 수 있었다. 
PWA는 스토어에 등록하지 않아도 크롬이나 사파리 브라우저에서 바로 다운로드가 가능했다.
<div style="margin: 2rem;"></div>
원래, <a href="https://netlify.com" target="_blank" style="color: #005ccc;">네트리파이</a>에서 베포를 성공했다. 
하지만 네트리파이 서버는 한국이아닌 해외에 있다보니 서비스 렌더링 속도가 엄청 느렸고, 
매핑한 로고들이 뜨는데 까지는 20초가 넘게걸렸다. 
네트리파이로 배포는 했지만 사용자들에게 불편함을 줄거라 생각하고, 네트리파이 마저 포기했다.
<div style="margin: 2rem;"></div>
최종적으로 배포는 <a href="https://render.com" style="color: #005ccc;">render.com</a>을 사용했다. 
<div style="margin: 2rem;"></div>
하지만 이 엄청난 서비스도 문제가 있었다. 배포하고 아침에 자고 일어나니 링크에 들어가는 시간이 50초정도 걸렸다. 
검색해보니 "사용자 유입이 없으면 서버가 자동으로 절전이 됩니다" 라고 명확하게 나와있었다. 
<div style="margin: 2rem;"></div>
구글에 검색을 해보았고, "render.com에 있는 Cron Job을 사용하면 문제가 해결된다." 는 말을 찾게되었다. 
아쉽지만 돈이 든다는 점에서 다른 방법을 찾기로 결정하게 되었다.
이제는 정말 포기하고 돈을 지불할려고 고민하던 찰나 GPT한테 물어보기로 결정했다. 
GPT는 <a href="https://uptimerobot.com" style="color: #005ccc;">uptimerobot</a>이라는 사이트를 사용하면 문제가 해결된다. 라고 말해주었다.
<div style="margin: 2rem;"></div>
uptimerobot은 설정한 시간 단위로 지정한 사이트를 모니터링 해주는 사이트였다. 
모니터링을 하기위해서 지정한 시간 단위로 사이트에 트래픽을 발생시켜주기 때문에
사용자 유입 자체가 사용자 트래픽이였고, 
uptimerobot이 사용자 대신 5분단위로 트래픽을 발생시켜주었기에 GPT가 추천해준 것이였다. GPT 똑똑해 
<div style="margin: 2rem;"></div> 
정말 다행히도 uptimerobot에 사이트를 등록하니 다시는 서버가 자동 절전되는 문제는 발생하지 않았다 
<div style="margin: 2rem;"></div> 
<a href="https://www.airport-pus.kr" target="_blank"><h1 style="color: #005ccc;">https://www.airport-pus.kr</h1></a> 
많이 방문해주세요! 
</html> 
