@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  margin: 0;
  color: black;
  word-break: keep-all;
}

code {
  background-color: #F2F2F2;   /* 밝은 회색 배경 */
  color: #d8303e;              /* 연한 빨간색 글자 */
  font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
  padding: 2px 4px;            /* 약간의 안쪽 여백 */
  border-radius: 4px;          /* 둥근 모서리 (선택) */
  font-size: 0.95em;           /* 글자 크기 조정 (선택) */
}

pre code {
  font-family: 'Fira Code';
}

html {
  font-size: 1.125rem !important;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 1.125rem !important;
  }

  body {
    margin: 0.75rem 0.75rem !important;
  }
}

a {
  text-decoration: none;
  color: #005ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a:hover {
  color: #005ccc;
}

body {
  margin: 1.3rem 2rem;
}

main {
  margin: 2rem 0;
  max-width: 50rem;
}

section {
  margin: 1rem 0;
  line-height: 1.5rem;
}

h2 {
  font-weight: 800;
  color: black;
}

time {
  color: black;
}

h3 {
  font-size: 1.3rem;
  color: black;
}

br {
  margin: 0.5rem;
}

blockquote {
  background-color: #eee;
  margin: 10px;
  padding: 16px 20px;
  border-radius: 4px;
}

/* Article thumbnail hover styles */
.article-container {
  position: relative;
}

.article-thumbnail {
  display: none;
  position: absolute;
  left: 400px;
  top: -2px;
  max-width: 140px;
  border: 1px solid #eee;
  z-index: 10;
}

.article-container:hover .article-thumbnail {
  display: block;
}

.header-container * {
  margin-right: 6px;
}

.header-container>h3 {
  margin-right: 18px;
}

.download-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  font-size: 0.8rem;
  padding: 2px 4px 2px 1px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-family: sans-serif;
  cursor: pointer;
}

.download-btn img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

table {
  border: 1px solid #ccc;         
  background-color: #FCFCFC;     
  border-collapse: collapse;       
  width: 100%;                    
}

/* 각 셀마다 개별 테두리와 적당한 패딩을 추가 */
table th,
table td {
  border: 1px solid #ddd;          
  padding: 8px;                    
  text-align: left;               
}


hr {
  margin-top: 3rem;
}