<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../static/globals.css" />
</head>
<body>
    <header >
        <nav>
            <a href="/">
                <h2 style="display: inline-block;">김규민</h2>
                <span>gyumingim</span>
            </a>
        </nav>
    </header>
    <main>
        <h3>About</h3>
        <section>
            <img src="/static/image/Profile.jpg" height="150px" alt="">
            <div style="margin: 1rem;"></div>
            풀스택 개발자 <a href="/">김규민</a>입니다. 취미로 <a href="/article/3">야크 털을 깎습니다.</a>
            <div style="margin: 1rem;"></div>
            컴퓨터 시스템과 독창적인 사이드 프로젝트에 관심이 많습니다. Dribbble과 Vimeo를 보면서 아이디어를 찾습니다.

            여가 시간에는 간단한 사이드 프로젝트를 진행하고 <a href="https://github.com/gyumingim">깃허브</a>에 기록힙니다. 또한 매일 <a href="https://blog.naver.com/gumin0506">블로그</a>를 포스팅합니다.
        </section>
        <a href="work">
            <h3 style="margin-bottom: .5rem;">
                Works ↘
            </h3>
        </a>
        <a href="article">
            <h3  style="margin-bottom: .5rem;">
                Articles ↘
            </h3>
        </a>
    </main>
    <footer style="font-size: .8rem; color: #767676;">
        © 2025 김규민
    </footer>
</body>
</html>