<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../static/globals.css" />
</head>
<body>
    <header >
        <nav>
            <a href="/">
                <h2 style="display: inline-block;">김규민</h2>
                <span>gyumingim</span>
            </a>
        </nav>
    </header>
    <main>
        <h3>About</h3>
        <section>
            풀스택 개발자 김규민입니다. 취미로 야크 털을 깎습니다. 
            <br>
            효율적인 컴퓨터 시스템과 독창적인 사이드 프로젝트에 관심이 많습니다. Dribbble과 CSS Design Awards를 보면서 독창적인 아이디어를 찾습니다.
            여가 시간에는 간단하지만 영감을 주는 웹사이트를 만들고 있습니다. 또한 매일 블로그를 포스팅합니다.
        </section>
        <a href="/work">
            <h3 style="margin-bottom: .5rem;">
                Works ↘
            </h3>
        </a>
        <a href="article">
            <h3>
                Articles ↘
            </h3>
        </a>
    </main>
    <footer style="font-size: .8rem; color: #767676;">
        © 2025 김규민
    </footer>
</body>
</html>