<!DOCTYPE html>
<html lang="ko">

<head>
    <title>김규민 gyumingim</title>
    <meta name="google-site-verification" content="zgBBQeNqU-wJXHJtJuras3Ujf0a9y22vRA65kaqkFWc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="풀스택 개발자 김규민의 블로그입니다. 사이드 프로젝트, 개발 팁, 독창적인 아이디어와 다양한 기술 이야기를 공유합니다.">
    <meta name="robots" content="index, follow">
    <meta charset="UTF-8">
    <link rel="canonical" href="https://www.gyumingim.kro.kr">
    <link rel="icon" href="https://www.gyumingim.kro.kr/static/image/Profile.ico" type="image/x-icon">
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="김규민의 블로그">
    <meta property="og:description" content="풀스택 개발자 김규민의 사이드 프로젝트와 다양한 개발 이야기를 공유합니다.">
    <meta property="og:image" content="https://www.gyumingim.kro.kr/static/image/Profile.png">
    <meta property="og:url" content="https://www.gyumingim.kro.kr">
    <meta property="og:type" content="website">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="김규민의 블로그">
    <meta name="twitter:description" content="풀스택 개발자 김규민의 사이드 프로젝트와 다양한 개발 이야기를 공유합니다.">
    <meta name="twitter:image" content="https://www.gyumingim.kro.kr/static/image/Profile.png">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/normalize.css" />
    <link rel="stylesheet" href="../static/globals.css" />

    <script>
        (function (j, ennifer) {
            j['dmndata'] = []; j['jenniferFront'] = function (args) { window.dmndata.push(args) };
            j['dmnaid'] = ennifer; j['dmnatime'] = new Date(); j['dmnanocookie'] = false; j['dmnajennifer'] = 'JENNIFER_FRONT@INTG';
        }(window, '6a9ddbbd'));
    </script>
    <script async src="https://d-collect.jennifersoft.com/6a9ddbbd/demian.js"></script>
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <h2 style="display: inline-block;">김규민</h2>
                <span>gyumingim</span>
            </a>
        </nav>
    </header>
    <main>
        <div class="header-container">
            <h3 style=" display: inline-block; color: white; background-color: black;">About</h3>
            <a href="award">
                <h3 style="margin-bottom: .5rem;  display: inline-block;">
                    Awards ↘
                </h3>
            </a>
            <a href="work">
                <h3 style="margin-bottom: .5rem;  display: inline-block;">
                    Works ↘
                </h3>
            </a>
            <a href="article">
                <h3 style="margin-bottom: .5rem;  display: inline-block;">
                    Article ↘
                </h3>
            </a>
        </div>
        <section>
            <img src="/static/image/Profile.png" height="150px" alt="">
            <a class="download-btn" href="../static/3401_김규민_이력서_20250512.pdf" download="3401_김규민_이력서_20250512.pdf">
                <img src="../static/image/pdf-icon.png" alt="PDF 아이콘">
                3401_김규민_이력서.pdf
            </a>
            <div style="margin: 1rem;"></div>

            풀스택 개발자 <a href="/">김규민</a>입니다.
            취미로 <a href="/article/3">야크 털을 깎습니다.</a>

            <div style="margin: 1rem;"></div>

            <a href="https://school.busanedu.net/bssm-h/main.do">부산소프트웨어마이스터고</a>에 재학 중이며, 2026년 1월 졸업 예정입니다.
            <br>
            <a href="mailto:a31620504@gmail.com">a31620504@gmail.com</a>으로 연락 부탁드립니다.
            <br>
            <a href="https://github.com/gyumingim">Github</a>에서 프로젝트 활동 참고해주세요.

            <div style="margin: 2rem;"></div>

            <blockquote>
                불필요한 것을 덜어내고 필요한 기능만 남기는 것이 제 개발의 원칙입니다.
                <br>
                호기심과 열정으로 매일 코드를 가다듬고, 배움의 즐거움을 통해 스스로를 한 단계씩 완성해 나갑니다.
            </blockquote>

            <div style="margin: 2rem;"></div>

            <b style="border-bottom: 1px solid black;">
                일상 속 불편함에서 아이디어를 찾습니다
            </b>
            <div style="margin: 1rem;"></div>
            공항에서 주차를 해야할 때 남은 차량 수를 빠르게 알 수 없어서 불편했던 경험을 토대로
            김해공항 실시간 정보 모니터링 플랫폼을 개발하게 되었습니다
            <br>
            2개월 동안 500+명의 사용자가 사이트를 1,600+회 방문했었습니다.

            <div style="margin: 2rem;"></div>

            <b style="border-bottom: 1px solid black;">
                세상에 단 하나뿐인 웹사이트를 만듭니다
            </b>
            <div style="margin: 1rem;"></div>
            평소 사회 이슈에 관심이 많아 사회적 약자를 도울 수 있는 아이디어를 찾습니다.
            이를 토대로 경계선 지능인을 위한 인지기능 개선 플랫폼 "바운더리", 글을 이해하기 어려워하는
            청소년을 위해 어려운 글을 쉽게 바꿔주는 앱 "리더블"을 기획했습니다.
            <br>
            리더블은 "제 8회 부산 ICT 해커톤 대상(동명대학단장상)",
            바운더리는 "2024 S.T.A.C 장려상(SK플래닛상)"을 받았습니다

            <div style="margin: 2rem;"></div>

            <b style="border-bottom: 1px solid black;">
                다양한 관점으로 보려 노력합니다
            </b>
            <div style="margin: 1rem;"></div>
            저는 다양한 취미를 가지면, 다양한 관점을 가질 수 있다고 생각합니다.
            또한, 다양한 관점은 다양한 도메인에 최적의 솔루션을 도출해낸다 생각하며, 농구, 기타, 독서 등
            다양한 취미를 가지고 있습니다
            <br>
            고등학교 2학년부터 농구부로 활동하고 있습니다. 고등학교 2학년 때 밴드부로 활동했었습니다
            <div style="margin: 1rem;"></div>

        </section>
    </main>
    <footer style="font-size: .8rem; color: #767676;">
        © 2025 김규민
    </footer>
</body>

</html>