<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../static/globals.css" />
</head>
<body>
    <header >
        <nav>
            <a href="/">
                <h2 style="display: inline-block;">김규민</h2>
                <span>gyumingim</span>
            </a>
        </nav>
    </header>
    <main>
        <a href="/">
            <h3 style="margin-bottom: .5rem;">
                About ↘
            </h3>
        </a>
        <h3>
            Works ↘
        </h3>
        <section>
            제가 한 프로젝트를 소개할 곳입니다.
        </section>
        <a href="article">
            <h3>
                Articles ↘
            </h3>
        </a>
    </main>
    <footer style="font-size: .8rem; color: #767676;">
        © 2025 김규민
    </footer>
</body>
