<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="../static/globals.css" />
<html>
<body>
    <header >
        <nav>
            <a href="/">
                <h2 style="display: inline-block;">김규민</h2>
                <span>gyumingim</span>
            </a>
        </nav>
    </header>
    <main>
        <a href="/">
            <h3 style="margin-bottom: .5rem;">
                About ↘
            </h3>
        </a>
        <a href="work">
            <h3 style="margin-bottom: .5rem;">
                Works
            </h3>
        </a>
        <section>
            {% for weekly in data %}
                <a style="display: block; margin-bottom: 0.4rem;" href="weekly/{{ loop.index }}">
                    <span>
                        <b>{{ weekly.title }}:</b>
                    </span>
                    <span>
                        {{ weekly.subtitle }}
                    </span>
                    <time style="font-family: RobotoMono,monospace; font-size: .8rem; font-weight: 400;">
                        {{ weekly.date }}
                    </time>
                </a>
            {% endfor %}
        </section>
        <a href="article">
            <h3 style="margin-bottom: .5rem;">
                Article ↘
            </h3>
        </a>
        
        
    </main>
    <footer style="font-size: .8rem; color: #767676;">
        © 2025 김규민
    </footer>
</body>
</html>
